/* BuyerPortal.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.buyer-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.buyer-portal h1 {
  color: #333;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-form button:hover {
  background-color: #4cae4c;
}

.current-location-btn {
  padding: 10px 20px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.current-location-btn:hover {
  background-color: #286090;
}

/* Add this new class for the buy history button */
.buy-history-btn {
  margin-top: 20px; /* Add some space above the button */
  padding: 10px 20px;
  background-color: #337ab7; /* Choose a color that suits your design */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buy-history-btn:hover {
  background-color: #286090; /* A slightly darker color for the hover state */
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white; /* Change to white */
  color: #333; /* Change text color */
  border: 1px solid #ccc; /* Add border */
  border-radius: 3px; /* Adjust border radius */
  padding: 8px 15px; /* Adjust padding */
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
}

.back-button:hover {
  background-color: #216ab7; /* 更深的背景色 */
}
