/* PropertyList.css */

.property-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.property-list-title {
  text-align: center;
  margin-bottom: 40px;
}

.property-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 更灵活的布局 */
  gap: 20px; /* 为卡片之间添加间隙 */
}

.property-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddde5;
  border-radius: 5px;
  overflow: hidden; /* 防止内容溢出卡片 */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s, box-shadow 0.2s;
}

.property-item:hover {
  transform: scale(1.02); /* 更明显的放大效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 更深的阴影 */
}

.property-image {
  width: 100%;
  height: 200px; /* 根据需要调整 */
  object-fit: cover; /* 保证图片填充不变形 */
}

.property-info {
  padding: 10px;
}

.property-info h3,
.property-info p {
  margin: 4px 0; /* 调整间距 */
}

.property-info label {
  font-weight: bold;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3; /* 更深的背景色 */
}
