/* PropertyList.css */

.property-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.property-list-title {
  text-align: center;
  margin-bottom: 40px;
}

.back-button {
  background-color: #007bff; /* Bootstrap primary color for example */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px; /* Add some space between the button and the next element */
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3; /* A darker shade for hover state */
}

.property-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.property-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card h3 {
  margin-top: 0;
  color: #333;
}

.property-card p {
  color: #666;
  line-height: 1.6;
}

.property-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.property-info div {
  margin: 5px 0;
}

.property-info label {
  font-weight: bold;
}
