.seller-portal-header {
    display: flex;
    justify-content: space-between;
    /* 确保内容均匀分布在容器的两端和中间 */
    align-items: center;
    /* 垂直居中对齐 */
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seller-portal-logo {
    flex: 1;
    /* 使 logo 部分占据可用空间，有助于水平居中显示 */
    text-align: center;
    /* 确保内部元素（如图片）居中显示 */
}

.seller-portal-logo img {
    max-width: 100px;
    /* 根据需要调整宽度 */
    max-height: 40px;
    /* 根据需要调整高度 */
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
}



.seller-portal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.portal-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.property-form {
    margin-bottom: 20px;
}

.property-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.property-list-container {
    background-color: #f9f9f9;
    padding: 20px;
}

.property-list-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.property-list {
    list-style-type: none;
    padding: 0;
}

.property-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.action-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.action-button:hover {
    background-color: #218838;
}